<div fxLayout="row" fxLayoutAlign="space-evenly none" *ngIf="this.menuComp.selectedDish" >
    <mat-card fxFlex="45">
      <mat-card-header>
        <mat-card-title>
          <h3>{{this.menuComp.selectedDish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{this.menuComp.selectedDish.image}} alt={{this.menuComp.selectedDish.name}}>
      <mat-card-content>
        <p>{{this.menuComp.selectedDish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card fxFlex="43" fxFlexOffset="2">
      <mat-card-header>
        <mat-card-title>
          <h3>Comments</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content *ngFor="let item of this.menuComp.selectedDish.comments">
        {{item.label}} <br>
        {{item.star}} Stars <br>
        --{{item.author}}
        {{item.date | date}}
      </mat-card-content>
    </mat-card>
</div>
